*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10%;
}

/* HEADER */
header{
    width: 100%;
    padding: 50px 0;
    position: fixed;
    transition: 0.5s;
    z-index: 9000;
}
header.rolar{
    background-color: black;
    padding: 30px 0;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.342);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    max-width: 230px;

}
section.itens-menu nav ul{
    display: flex;
    justify-content: space-between;
    width:900px;
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding: 0px 200px;
}
section.itens-menu nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}
section.itens-menu nav ul li{
    transition: 0.3s;
}
section.itens-menu nav ul li:hover{
    transform: scale(1.09);
}
section.itens-menu button{
    margin-top: -20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
section.itens-menu button:hover{
    background-color: white;
    color: black;
}

/* STYLE CASE */
section.skout{
    height: 100vh;
    background-image: url('../IMAGENS/midigard-logo2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
section.skout .container{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 0px;
}
section.skout .case{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    width: 1200px;
    height: 830px;
    border: solid 1px transparent;
    border-radius: 30px;
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.295);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.295);
    padding: 60px;
    transform: scale(0.9);
}

section.skout .case h1{
    font-size: 70px;
    font-family: 'Cinzel', serif;
    margin-bottom: 30px;
}
h1 span{
    font-family: 'Cinzel', serif;
}
#descer{
    margin-top: 80px;
}
/* PARTE 1 */

section.skout .case label{
    display: block;
    font-size: 25px;
}
section.skout .case input{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px 15px;
    width: 570px;
    font-size: 17px;
}
section.skout .escolhas{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 27px;
}
section.skout .escolhas input{
    width: 20px;
    height: 20px;
}
/* PARTE 2 */
.part2 .image-user{
    border: 1px solid white;
    width: 450px;
    height: 400px;
    margin-top: 20px;
    border-radius: 60px;
    transition: 0.3s;
}
.part2 .image-user:hover{
    transform: scale(1.03);
}

.part2 h2, .part2 span{
    width: 450px;
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}
.part2 span{
    display: block;
    font-size: 30px;
    margin-top: 20px;
}

.part2 select{
    width: 400px;
    padding: 20px 0px; 
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    transition: 0.3s;
}
.part2 select:hover{
    border: 1px solid white;
    transform: scale(1.03);
}
.btn-cadastrar{
    width: 400px;
    padding: 20px 0px; 
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    transition: 0.3s;
}
.btn-cadastrar:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transform: scale(1.03);
}
.part2 .image-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}

/* LOGIN */
#tittle-login{
    margin-top: 30px;
}
.part2-login .image-user{
    width: 450px;
    height: 400px;
    margin-top: 140px;
    border-radius: 60px;
    transition: 0.3s;
}
.part2-login .image-user img{
    max-width: 350px;
    margin-left: 60px;
    margin-top: 20px;
}
#ipt_senha_usuario{
    display: block;
}
.part1 button{
    width: 570px;
    height: 90px;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}
.part1 button:hover{
    color: black;
    background-color: white;
    transform: scale(1.03);
}
#responselogin{
    font-size: 40px;
}
#case-login{
    height: 670px;
}
#mensagem_erro{
    text-align: center;
}
#responselogin{
    width: 900px;
    margin-left: -70px;
}
#messageerror{
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}
