* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow: hidden;
}

#fundo1 {
    background-image: url('../IMAGENS/minas.jpg');
    background-size: cover;
}

#fundo2 {
    background-image:
        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.097) 0%),
        url('../IMAGENS/sutur-fundo.jpg');
    background-size: cover;
}

#fundo3 {
    background-image:
        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.74) 0%),
        url('../IMAGENS/abismo.jpg');
    background-size: cover;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2% 0 0 0;
}

#response_nome,
#response_email {
    font-size: 40px;
}


/* HEADER */
header {
    position: fixed;
    height: 100%;
    width: 190px;
    background-color: black;
    padding: 40px;
    text-align: center;
    border-right: 1px solid white;
}

header img {
    display: block;
    filter: invert(100%);
    max-width: 70px;
    margin-bottom: 50px;
    transition: 0.3s;
}

header img:hover {
    transform: scale(1.10);
}

#user {
    max-width: 100px;
}

#menu {
    margin-left: 15px;
}

#info {
    max-width: 110px;
    margin-left: -5px;
}

/* INFOS DA DASH */
section.itens h1,
.user_infos .infos h3 {
    font-size: 70px;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
    color: white;
}

/* TELA DO USUÁRIO */
.card {
    margin-bottom: 20px;
}

.user_infos {
    display: flex;
}

.user_infos .infos {
    margin-top: 100px;
    margin-left: 150px;
    padding: 30px;
}

.user_infos .infos h1 {
    font-size: 50px;
}

.user_infos .infos h3 {
    font-size: 30px;
    margin-bottom: -10px;
}

.user_infos .infos .response {
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 45px;
    margin-bottom: 30px;
}

.user_foto {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    height: 550px;
    width: 550px;
    margin-top: 100px;
    transition: 0.3s;
    margin-left: -80px;
    object-fit: cover;
}

.user_foto:hover {
    transform: scale(1.02);
}

.pizza {
    width: 550px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: -250px;
}

.indicadores .card {
    height: 170px;
    width: 340px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}

.indicadores .card:hover {
    transform: scale(1.02);
}

.indicadores .card label {
    color: white;
    font-size: 25px;
}

.indicadores {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.indicadores .card h1 {
    font-size: 28px;
}

.barra {
    margin-top: -490px;
    margin-left: -100px;
    width: 980px;
}

.barra-quiz {
    position: absolute;
    margin-top: 150px;
    margin-left: 750px;
    width: 800px;
}

.radar-quiz {
    margin-top: 150px;
    margin-left: -100px;
    width: 800px;
}

.pizza-quiz{
    width: 450px;
    position: absolute;
    margin-top: -880px;
    margin-left: 1050px;
}

#quiz-indicators{
    margin-left: -60px;
}

#total-usuarios {
    font-size: 45px;
}

#total-raca {
    font-size: 45px;
}

#total-personagem {
    font-size: 40px;
}

.header-dashboard-itens {
    display: flex;
    gap: 75px;
    height: 90px;
}

#button-pass {
    width: 250px;
    height: 90px;
    font-size: 26px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    transition: 0.3s;
}

#button-pass:hover {
    transform: scale(1.03);
    background-color: white;
    color: black;
    cursor: pointer;
}

/* DASHBOARD QUIZ */
#total-recomendacoes {
    font-size: 40px;
}

#total-reino {
    font-size: 30px;
}